Cmnd_Alias VAGRANT_HOSTMANAGER_UPDATE = /bin/cp {{ vagrant_hostmanager_vagrant_home }}/tmp/hosts.local /etc/hosts
%{{ vagrant_hostmanager_sudo_group }} ALL=(root) NOPASSWD: VAGRANT_HOSTMANAGER_UPDATE
